<?xml version="1.0" encoding="utf-8"?>

<launch>
    <!-- Arguments -->
    <arg name="img_topic" default="/cv_camera/image_raw" />
    <arg name="set_target" default="/det_and_track/target" />
    <arg name="debug" default="true" />
    <arg name="target_from_file" default="" />

    <!-- cv_camera -->
    <node pkg="cv_camera" type="cv_camera_node" name="cv_camera" output="screen" />

    <!-- Detection and Tracking -->
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="det_and_track" args="load merbots_tracking/ObjectDetectorNodelet standalone_nodelet --no-bond" output="screen">
        <param name="debug" value="$(arg debug)" />
        <param name="target_from_file" value="$(arg target_from_file)" />
        <rosparam command="load" file="$(find merbots_tracking)/launch/objdet_params.yaml" />

        <remap from="~image" to="$(arg img_topic)" />
    </node>

    <!-- Target Selector -->
    <node pkg="merbots_tracking" type="target_selector" name="target_selector" output="screen">
        <remap from="~image" to="$(arg img_topic)" />
        <remap from="~target" to="$(arg set_target)" />
    </node>

</launch>
